In [2]:
import pandas as pd
import numpy as np
import os

In [2]:
path = '../../files/도매시장/미나리.csv'

minari =  pd.read_csv(path)
minari.head()

,PUM_NM,LV_NM,TOT_AMT,SAN_NM,SALEDATE,CMP_NM,DAN_NM,WHSAL_NM,SIZE_NM,COST,POJ_NM,TOT_QTY,QTY,KIND_NM,DANQ
0,미나리,특,465000.0,부산광역시 기장군,20140103,중앙청과,kg,서울가락도매,.,31000.0,단,300.0,15.0,미나리(일반),20.0
1,미나리,특,338000.0,부산광역시 기장군,20140103,중앙청과,kg,서울가락도매,.,26000.0,단,195.0,13.0,미나리(일반),15.0
2,미나리,특,338000.0,부산광역시 기장군,20140103,중앙청과,kg,서울가락도매,.,26000.0,단,195.0,13.0,미나리(일반),15.0
3,미나리,특,1020000.0,부산광역시 기장군,20140103,중앙청과,kg,서울가락도매,.,51000.0,단,300.0,20.0,미나리(일반),15.0
4,미나리,특,848000.0,부산광역시 기장군,20140103,중앙청과,kg,서울가락도매,.,53000.0,단,240.0,16.0,미나리(일반),15.0

In [3]:
minari.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1226285 entries, 0 to 1226284
Data columns (total 15 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   PUM_NM    1226285 non-null  object
 1   LV_NM     1226265 non-null  object
 2   TOT_AMT   1226285 non-null  float64
 3   SAN_NM    1208605 non-null  object
 4   SALEDATE  1226285 non-null  int64
 5   CMP_NM    1226285 non-null  object
 6   DAN_NM    1226285 non-null  object
 7   WHSAL_NM  1226285 non-null  object
 8   SIZE_NM   1210587 non-null  object
 9   COST      1226285 non-null  float64
 10  POJ_NM    1226285 non-null  object
 11  TOT_QTY   1226285 non-null  float64
 12  QTY       1226285 non-null  float64
 13  KIND_NM   1226285 non-null  object
 14  DANQ      1226285 non-null  float64
dtypes: float64(5), int64(1), object(9)
memory usage: 140.3+ MB

In [4]:
minari.isna().sum()

PUM_NM          0
LV_NM          20
TOT_AMT         0
SAN_NM      17680
SALEDATE        0
CMP_NM          0
DAN_NM          0
WHSAL_NM        0
SIZE_NM     15698
COST            0
POJ_NM          0
TOT_QTY         0
QTY             0
KIND_NM         0
DANQ            0
dtype: int64

In [5]:
print("lv_nm",set(minari["LV_NM"]))
print("DAN_NM",set(minari["DAN_NM"]))#단위 . ?

lv_nm {nan, '상', '5등', '특', '등외', '7등', '.', '보통', '4등', '8등'}
DAN_NM {'g', 'kg', '.'}

In [6]:

minari['SAN_NM'].unique()
#수입 대신 '중국' 이 있음.

array(['부산광역시 기장군', '경상남도 양산시', '부산 강서구', '울산 남구', '울산광역시 울주군',
       '전라남도 나주시', '광주광역시 광산구', '전라북도 김제시', '충청남도 당진군', '경상남도 창녕군',
       '전라남도 영암군', '전라북도 전주시', '전라남도 순천시', '부산광역시', '울산광역시', '광주광역시',
       '부산광역시 금정구', '경기도 광주시', '경상남도 의령군', '광주 북구', nan, '전라남도 장성군',
       '전라남도 장흥군', '경기도 안성시', '경기도 시흥시', '경기도 안산시', '경상남도 김해시',
       '경상북도 청도군', '서울특별시 송파구', '경기도 이천시', '경상북도 경주시', '경상남도 밀양시',
       '서울 중구', '충청북도 진천군', '경기도 부천시', '충청남도 홍성군', '전라남도 함평군', '경기도 김포시',
       '대구광역시 수성구', '충청남도 부여군', '경기도 평택시', '경기도 고양시', '충청남도 예산군', '인천광역시',
       '전라북도 순창군', '강원도 강릉시', '충청북도 충주시', '충청남도 서천군', '충청남도 태안군',
       '충청남도 청양군', '강원도 화천군', '광주 동구', '인천 서구', '경기도 광명시', '경기도 의정부시',
       '인천 중구', '경기도 남양주시', '전라남도 여수시', '충청북도 제천시', '서울 강서구', '경기도 성남시',
       '인천광역시 연수구', '인천광역시 계양구', '서울 구로구', '경기도 의왕시', '경기도 화성시',
       '서울특별시 양천구', '경상북도 예천군', '경기도 포천시', '서울특별시 강동구', '전라남도 완도군',
       '충청북도 음성군', '전라남도 영광군', '전라북도 완주군', '서울 송파구', '경상북도 경산시', '서울특별시',
       '경상남도 하동군', '충청남도 보령시', '충남 부여군', '경기 부천시 오정구', '경기 김포시',
       '충청북도 청원군', '충청남도 논산시', '경기 파주시', '경기 하남시', '강원도 홍천군',
       '경기 고양시 덕양구', '경기도 용인시', '경기도 구리시', '전라북도 고창군', '충청남도 공주시',
       '충청남도 천안시', '경기도 여주군', '광주 남구', '전남 나주시', '전남 순천시', '충남 예산군',
       '경기 평택시', '경기 남양주시', '인천 계양구', '광주 광산구', '대구광역시', '경북 칠곡군',
       '경남 창원시', '경남 창녕군', '전라남도', '충청북도 옥천군', '전북 전주시 덕진구', '전북 완주군',
       '부산 중구', '서울 강남구', '전남 영암군', '경기도', '경남 양산시', '전북 전주시 완산구', '경상남도',
       '경상남도 남해군', '경기도 양평군', '경기 구리시', '경기 고양시 일산서구', '경기 부천시 소사구',
       '서울 종로구', '전북 익산시', '전북 정읍시', '전남 무안군', '강원도', '전북 김제시', '충남 청양군',
       '경남 의령군', '충북 충주시', '대전 대덕구', '경상북도 칠곡군', '대전광역시', '충남 논산시',
       '전남 장성군', '충북 청주시 상당구', '전남 영광군', '대구 북구', '서울 강동구', '대구 달서구',
       '전남 강진군', '충청남도 계룡시', '경북 구미시', '전라남도 해남군', '인천 부평구', '서울 동대문구',
       '경기 시흥시', '경북 김천시', '전남 장흥군', '경기 양주시', '경남 밀양시', '대구광역시 달성군',
       '대구 중구', '경상북도 김천시', '광주 서구', '전북 고창군', '경기 안산시', '전북 남원시',
       '경상남도 진해시', '경기도 양주시', '전남 완도군', '충남 서천군', '전남 해남군', '경남 하동군',
       '경상북도 의성군', '전남 진도군', '서울 관악구', '충남 천안시', '인천 남동구', '경남 남해군',
       '경남 거창군', '경남 고성군', '충남 공주시', '전남 화순군', '전라남도 보성군', '충남 보령시',
       '충남 천안시 동남구', '충남 서산시', '충청남도 서산시', '경기 안산시 단원구', '경상북도 성주군',
       '대전 동구', '전남 함평군', '경상북도 문경시', '전북 순창군', '전남 고흥군', '경기 안성시',
       '강원 강릉시', '경상남도 거제시', '충남 당진군', '대전 유성구', '충남 금산군', '충북 옥천군',
       '경남 김해시', '경남 마산시', '경남 통영시', '경기 안양시 동안구', '충남 태안군', '인천광역시 옹진군',
       '경기도 군포시', '경상남도 합천군', '충북 음성군', '경기 수원시 권선구', '전라남도 진도군',
       '전남 곡성군', '충청북도 청주시', '경상북도 포항시', '경북 봉화군', '경상북도 고령군', '경상남도 고성군',
       '경북 포항시 북구', '충북 청원군', '경기 부천시 원미구', '경북 청도군', '경상북도 청송군',
       '전북 장수군', '부산 기장군', '경상남도 창원시 마산회원구', '경상북도', '전라북도 장수군', '강원 삼척시',
       '충남 연기군', '충남 아산시', '경남 진주시', '충북 청주시 흥덕구', '대전 중구', '경남 거제시',
       '인천광역시 남동구', '대전광역시 유성구', '경기 여주군', '경기도 동두천시', '충남 계룡시', '부산 사상구',
       '전라남도 고흥군', '전북 진안군', '강원 원주시', '경북 의성군', '서울 도봉구', '경기 광명시',
       '서울 광진구', '경남 함안군', '전라북도', '충북 제천시', '울산 울주군', '강원 횡성군',
       '대전광역시 대덕구', '경상남도 함안군', '강원도 횡성군', '강원 춘천시', '대구 서구', '경기도 안양시',
       '충청남도', '충북 진천군', '강원도 평창군', '경상남도 거창군', '제주 제주시', '전북 부안군',
       '전라북도 부안군', '인천 연수구', '경기도 하남시', '전라북도 익산시', '중국', '강원 홍천군',
       '충청남도 금산군', '경기 군포시', '전남 구례군', '강원도 고성군', '충북 괴산군', '전남 신안군',
       '경북 상주시', '강원도 정선군', '전북 임실군', '강원 동해시', '전남 여수시', '부산 해운대구',
       '경상남도 사천시', '제주 남제주군', '경기 동두천시', '경북 영천시', '전라남도 곡성군', '대구 동구',
       '충북 보은군', '경북 안동시', '경기 양평군', '전라남도 광양시', '경기 이천시',
       '경상남도 창원시 의창(성산)구', '경상남도 함양군', '전북 무주군', '전라북도 정읍시', '충청북도',
       '경상북도 영천시', '경기 가평군', '경남 산청군', '경상남도 산청군', '경상남도 진주시', '경상북도 군위군',
       '충남 홍성군', '경기 용인시', '경상남도 통영시', '대구 남구', '경북 포항시 남구', '대구 달성군',
       '경기 화성시', '서울특별시 영등포구', '전남 광양시', '전남 담양군', '경기도 가평군', '전라남도 무안군',
       '경기도 수원시', '전라남도 구례군', '경상북도 안동시', '충청남도 아산시', '경상북도 구미시',
       '경기 용인시 처인구', '강원 고성군', '서울특별시 금천구', '경기 포천시', '충남 천안시 서북구',
       '경상북도 상주시', '서울 중랑구', '전남 보성군', '경기도 연천군', '강원도 철원군', '경기도 오산시',
       '경북 예천군', '경상북도 울진군', '부산 금정구', '서울 용산구', '경기 광주시', '경북 경주시',
       '제주도', '경북 울진군', '부산 서구', '충청북도 영동군', '경북 고령군', '울산 북구', '경북 성주군',
       '경상북도 영양군', '인천 동구', '제주 북제주군', '경북 영양군', '경북 군위군', '전북 군산시',
       '강원도 춘천시', '전라북도 남원시', '경기 연천군'], dtype=object)

In [7]:
minari[minari["DAN_NM"]=="."]

,PUM_NM,LV_NM,TOT_AMT,SAN_NM,SALEDATE,CMP_NM,DAN_NM,WHSAL_NM,SIZE_NM,COST,POJ_NM,TOT_QTY,QTY,KIND_NM,DANQ
264264,미나리,특,32000.0,경남 창원시,20160729,창원청과,.,창원팔용도매시장,.,1600.0,단,20.0,20.0,미나리(일반),1.0
268627,미나리,특,30000.0,부산 중구,20160810,창원청과,.,창원팔용도매시장,.,1000.0,단,30.0,30.0,미나리(일반),1.0
268628,미나리,특,30000.0,부산 중구,20160810,창원청과,.,창원팔용도매시장,.,1000.0,단,30.0,30.0,미나리(일반),1.0
268629,미나리,특,30000.0,부산 중구,20160810,창원청과,.,창원팔용도매시장,.,1000.0,단,30.0,30.0,미나리(일반),1.0
268630,미나리,특,30000.0,부산 중구,20160810,창원청과,.,창원팔용도매시장,.,1000.0,단,30.0,30.0,미나리(일반),1.0
268861,미나리,특,24000.0,경남 창원시,20160809,창원청과,.,창원팔용도매시장,.,1600.0,단,15.0,15.0,돌미나리,1.0
269297,미나리,특,30000.0,부산 중구,20160806,창원청과,.,창원팔용도매시장,.,1000.0,단,30.0,30.0,미나리(일반),1.0
269298,미나리,특,30000.0,부산 중구,20160806,창원청과,.,창원팔용도매시장,.,1000.0,단,30.0,30.0,미나리(일반),1.0
269299,미나리,특,30000.0,부산 중구,20160806,창원청과,.,창원팔용도매시장,.,1000.0,단,30.0,30.0,미나리(일반),1.0
269379,미나리,특,33000.0,부산 중구,20160805,창원청과,.,창원팔용도매시장,.,1100.0,단,30.0,30.0,미나리(일반),1.0
269380,미나리,특,36000.0,부산 중구,20160805,창원청과,.,창원팔용도매시장,.,1200.0,단,30.0,30.0,미나리(일반),1.0
269381,미나리,특,33000.0,부산 중구,20160805,창원청과,.,창원팔용도매시장,.,1100.0,단,30.0,30.0,미나리(일반),1.0
269582,미나리,특,52500.0,경남 창원시,20160804,창원청과,.,창원팔용도매시장,.,3500.0,단,15.0,15.0,미나리(일반),1.0
273548,미나리,특,51000.0,경남 창원시,20160815,창원청과,.,창원팔용도매시장,.,3400.0,단,15.0,15.0,미나리(일반),1.0
274201,미나리,특,18000.0,부산 중구,20160811,창원청과,.,창원팔용도매시장,.,600.0,단,30.0,30.0,미나리(일반),1.0
274202,미나리,특,18000.0,부산 중구,20160811,창원청과,.,창원팔용도매시장,.,600.0,단,30.0,30.0,미나리(일반),1.0
274203,미나리,특,18000.0,부산 중구,20160811,창원청과,.,창원팔용도매시장,.,600.0,단,30.0,30.0,미나리(일반),1.0
274204,미나리,특,18000.0,부산 중구,20160811,창원청과,.,창원팔용도매시장,.,600.0,단,30.0,30.0,미나리(일반),1.0
274205,미나리,특,18000.0,부산 중구,20160811,창원청과,.,창원팔용도매시장,.,600.0,단,30.0,30.0,미나리(일반),1.0
277799,미나리,특,58000.0,경남 창원시,20160824,창원청과,.,창원팔용도매시장,.,5800.0,단,10.0,10.0,미나리(일반),1.0
278216,미나리,특,33000.0,경남 창원시,20160822,창원청과,.,창원팔용도매시장,.,3300.0,단,10.0,10.0,미나리(일반),1.0
282195,미나리,특,85000.0,경남 창원시,20160901,창원청과,.,창원팔용도매시장,.,8500.0,단,10.0,10.0,미나리(일반),1.0
284629,미나리,특,43000.0,경남 창원시,20160920,창원청과,.,창원팔용도매시장,.,4300.0,단,10.0,10.0,미나리(일반),1.0
287331,미나리,특,18000.0,경남 창원시,20160930,창원청과,.,창원팔용도매시장,.,1800.0,단,10.0,10.0,미나리(일반),1.0
288545,미나리,특,26000.0,경남 창원시,20160924,창원청과,.,창원팔용도매시장,.,2600.0,단,10.0,10.0,미나리(일반),1.0
293690,미나리,특,21000.0,경남 창원시,20161001,창원청과,.,창원팔용도매시장,.,2100.0,단,10.0,10.0,미나리(일반),1.0
306229,미나리,NaN,48000.0,전북 익산시,20161110,이리청과,.,익산도매시장,NaN,16000.0,.,12.0,3.0,미나리(일반),4.0
467852,미나리,특,9000.0,부산 중구,20170728,창원청과,.,창원팔용도매시장,.,300.0,단,30.0,30.0,미나리(일반),1.0
467853,미나리,특,9000.0,부산 중구,20170728,창원청과,.,창원팔용도매시장,.,300.0,단,30.0,30.0,미나리(일반),1.0
467854,미나리,특,9000.0,부산 중구,20170728,창원청과,.,창원팔용도매시장,.,300.0,단,30.0,30.0,미나리(일반),1.0
467855,미나리,특,9000.0,부산 중구,20170728,창원청과,.,창원팔용도매시장,.,300.0,단,30.0,30.0,미나리(일반),1.0
467856,미나리,특,9000.0,부산 중구,20170728,창원청과,.,창원팔용도매시장,.,300.0,단,30.0,30.0,미나리(일반),1.0
927168,미나리,NaN,101053.0,전북 익산시,20190829,이리청과,.,익산도매시장,NaN,101053.0,.,30.0,1.0,미나리(일반),30.0
927412,미나리,NaN,68421.0,전북 익산시,20190828,이리청과,.,익산도매시장,NaN,68421.0,.,30.0,1.0,미나리(일반),30.0
927670,미나리,NaN,13684.0,전북 익산시,20190827,이리청과,.,익산도매시장,NaN,13684.0,.,30.0,1.0,미나리(일반),30.0
927671,미나리,NaN,109474.0,전북 익산시,20190827,이리청과,.,익산도매시장,NaN,109474.0,.,30.0,1.0,미나리(일반),30.0
927672,미나리,NaN,84211.0,전북 익산시,20190827,이리청과,.,익산도매시장,NaN,84211.0,.,30.0,1.0,미나리(일반),30.0
927942,미나리,NaN,32632.0,전북 익산시,20190826,이리청과,.,익산도매시장,NaN,32632.0,.,30.0,1.0,미나리(일반),30.0
927943,미나리,NaN,37895.0,전북 익산시,20190826,이리청과,.,익산도매시장,NaN,37895.0,.,30.0,1.0,미나리(일반),30.0
928226,미나리,NaN,88421.0,전북 익산시,20190824,이리청과,.,익산도매시장,NaN,88421.0,.,30.0,1.0,미나리(일반),30.0
928456,미나리,NaN,46316.0,전북 익산시,20190823,이리청과,.,익산도매시장,NaN,46316.0,.,30.0,1.0,미나리(일반),30.0
928457,미나리,NaN,40000.0,전북 익산시,20190823,이리청과,.,익산도매시장,NaN,40000.0,.,30.0,1.0,미나리(일반),30.0
928685,미나리,NaN,89474.0,전북 익산시,20190822,이리청과,.,익산도매시장,NaN,89474.0,.,30.0,1.0,미나리(일반),30.0
970162,미나리,.,48000.0,전북 익산시,20191111,이리청과,.,익산도매시장,.,6000.0,.,32.0,8.0,미나리(일반),4.0
1021464,미나리,NaN,14737.0,전북 익산시,20200217,이리청과,.,익산도매시장,NaN,14737.0,.,30.0,1.0,미나리(일반),30.0
1044243,미나리,NaN,23158.0,전북 익산시,20200313,이리청과,.,익산도매시장,NaN,23158.0,.,30.0,1.0,미나리(일반),30.0
1078414,미나리,NaN,14211.0,전북 익산시,20200418,이리청과,.,익산도매시장,NaN,14211.0,.,30.0,1.0,미나리(일반),30.0
1104158,미나리,NaN,54737.0,전북 익산시,20200502,이리청과,.,익산도매시장,NaN,54737.0,.,30.0,1.0,미나리(일반),30.0
1113402,미나리,NaN,41053.0,전북 익산시,20200511,이리청과,.,익산도매시장,NaN,41053.0,.,30.0,1.0,미나리(일반),30.0

In [8]:
#칼럼 drop
#총 15, 버리기: 8컬럼
#7컬럼 남아야한다.


#등급 버리기
minari.drop(['LV_NM'], axis=1, inplace=True)
#회사 버리기
minari.drop(['CMP_NM'], axis=1, inplace=True)
#cost 버리기
minari.drop(['COST'], axis=1, inplace=True)
#POJ_NM 묶음 버리기
minari.drop(['POJ_NM'], axis=1, inplace=True)
#KIND_NM 품종 버려도 되나?
minari.drop(['KIND_NM'], axis=1, inplace=True)
#SIZE_NM
minari.drop(['SIZE_NM'], axis=1, inplace=True)
minari.drop(['DANQ'], axis=1, inplace=True)
minari.drop(['QTY'], axis=1, inplace=True)

In [9]:
minari.columns

Index(['PUM_NM', 'TOT_AMT', 'SAN_NM', 'SALEDATE', 'DAN_NM', 'WHSAL_NM',
       'TOT_QTY'],
      dtype='object')

In [10]:
#날짜 변경
minari['SALEDATE'] = pd.to_datetime(minari['SALEDATE'], format='%Y%m%d')
#일자 소팅
minari = minari.sort_values(by='SALEDATE')
minari.head()

    PUM_NM   TOT_AMT     SAN_NM   SALEDATE DAN_NM WHSAL_NM  TOT_QTY
0      미나리  465000.0  부산광역시 기장군 2014-01-03     kg   서울가락도매    300.0
166    미나리   41000.0   전라남도 순천시 2014-01-03     kg   서울가락도매     10.0
167    미나리   42000.0   전라남도 순천시 2014-01-03     kg   서울가락도매     10.0
168    미나리   40000.0   전라남도 순천시 2014-01-03     kg   서울가락도매     10.0
169    미나리   42000.0   전라남도 순천시 2014-01-03     kg   서울가락도매     10.0

In [11]:
#도수분포?
print(minari['TOT_AMT'].value_counts())
print('음수: ',sum(minari['TOT_AMT']<0))
print('0값 : ',sum(minari['TOT_AMT']==0))# 0인 값도 존재. 평균에 영향
print("TOT_AMT의 NA 수 : ",sum(minari["TOT_AMT"].isna()))

60000.0      16988
30000.0      16541
40000.0      14617
50000.0      12756
90000.0      11517
             ...
3400800.0        1
13496.0          1
357390.0         1
34223.0          1
248800.0         1
Name: TOT_AMT, Length: 39440, dtype: int64
음수:  2157
0값 :  435
TOT_AMT의 NA 수 :  0

In [12]:
filter=minari['TOT_AMT']==0
minari[filter].head() #이상치?

      PUM_NM  TOT_AMT     SAN_NM   SALEDATE DAN_NM WHSAL_NM  TOT_QTY
3711     미나리      0.0      광주광역시 2014-01-21     kg   서울가락도매    340.0
5792     미나리      0.0   전라남도 나주시 2014-01-29     kg   서울가락도매    324.0
16401    미나리      0.0     부산 강서구 2014-03-20     kg   서울가락도매    100.0
18664    미나리      0.0   전라남도 순천시 2014-03-27     kg   서울가락도매     10.0
18659    미나리      0.0  광주광역시 광산구 2014-03-27     kg   서울가락도매     80.0

In [13]:
filter=minari['TOT_QTY']==0
minari[filter].tail() #이상치?

        PUM_NM  TOT_AMT    SAN_NM   SALEDATE DAN_NM WHSAL_NM  TOT_QTY
1218802    미나리      0.0   경기도 이천시 2021-10-16     kg   서울가락도매      0.0
1218801    미나리      0.0   경기도 이천시 2021-10-16     kg   서울가락도매      0.0
1218751    미나리      0.0     인천 서구 2021-10-16     kg   서울가락도매      0.0
1220049    미나리      0.0   경기도 시흥시 2021-10-19     kg   서울가락도매      0.0
1220621    미나리      0.0  전라북도 전주시 2021-10-20     kg   서울가락도매      0.0

In [14]:
#총금액 음수 및 0원 row 제거
data_filter = (minari['TOT_AMT'] > 0)
minari = minari.loc[data_filter]

In [15]:
#총 물량 음수 및 0원 row 제거
data_filter = (minari['TOT_QTY'] > 0)
minari = minari.loc[data_filter]

In [16]:
print("TOT_QTY의 NA 수",sum(minari["TOT_QTY"].isna()))
#미나리는 NA가 없다.

TOT_QTY의 NA 수 0

In [17]:
print("TOT_AMT의 NA 수",sum(minari["TOT_AMT"].isna()))
#미나리는 NA가 없다.

TOT_AMT의 NA 수 0

In [18]:
# 총 금액/ 총 물량  = 단위 금액
#컬럼 추가
minari.insert(7,"PER_PRICE",minari["TOT_AMT"]/minari["TOT_QTY"])

In [19]:
minari

,PUM_NM,TOT_AMT,SAN_NM,SALEDATE,DAN_NM,WHSAL_NM,TOT_QTY,PER_PRICE
0,미나리,465000.0,부산광역시 기장군,2014-01-03,kg,서울가락도매,300.0,1550.0
166,미나리,41000.0,전라남도 순천시,2014-01-03,kg,서울가락도매,10.0,4100.0
167,미나리,42000.0,전라남도 순천시,2014-01-03,kg,서울가락도매,10.0,4200.0
168,미나리,40000.0,전라남도 순천시,2014-01-03,kg,서울가락도매,10.0,4000.0
169,미나리,42000.0,전라남도 순천시,2014-01-03,kg,서울가락도매,10.0,4200.0
...,...,...,...,...,...,...,...,...
1225853,미나리,24000.0,경기 부천시 소사구,2021-10-30,kg,인천구월도매,8.0,3000.0
1225854,미나리,190800.0,경기도 김포시,2021-10-30,kg,대전오정도매,20.0,9540.0
1225855,미나리,476000.0,전라북도 완주군,2021-10-30,kg,대전오정도매,56.0,8500.0
1225837,미나리,70000.0,전북 전주시 덕진구,2021-10-30,kg,안양도매시장,10.0,7000.0
1226284,미나리,180000.0,NaN,2021-10-30,kg,서울강서도매,60.0,3000.0

In [20]:
#산지 전처리
minari['SAN_NM'] = minari['SAN_NM'].str.split(" ").str[0]
minari['SAN_NM'].unique()     # 중국, nan, - : 제거 
# 울산 -> 울산광역시
# 광주 -> 광주광역시
# 부산 -> 부산광역시
# 서울 -> 서울특별시
# 충남 -> 충청남도
# 경기 -> 경기도
# 전북 -> 전라북도
# 전남 -> 전라남도
# 경남 -> 경상남도
# 경북 -> 경상북도
# 충북 -> 충청북도
# 대전 -> 대전광역시
# 대구 -> 대구광역시
# 강원 -> 강원도
# 제주 -> 제주도
# 중국 -> na
# 인천 -> 인천광역시

array(['부산광역시', '전라남도', '울산광역시', '광주광역시', '전라북도', '울산', '충청남도', '경상남도',
       '부산', '경기도', '광주', nan, '경상북도', '서울특별시', '서울', '충청북도', '대구광역시',
       '인천광역시', '강원도', '인천', '충남', '경기', '전북', '전남', '경남', '경북', '충북',
       '대전', '대전광역시', '대구', '강원', '제주', '중국', '제주도'], dtype=object)

In [21]:
minari['SAN_NM'].replace(['중국','울산','광주','부산','서울','충남','경기','전북','전남','경남','경북','충북','대전','대구','강원',
                          '제주','인천'],
                      [np.nan, '울산광역시', '광주광역시', '부산광역시','서울특별시', 
                       '충청남도', '경기도','전라북도','전라남도','경상남도','경상북도','충청북도','대전광역시','대구광역시','강원도',
                       '제주도','인천광역시'],
                      inplace=True)
minari = minari.dropna(subset=['SAN_NM'])
print(minari['SAN_NM'].unique())
print(len(minari['SAN_NM'].unique()))

['부산광역시' '전라남도' '울산광역시' '광주광역시' '전라북도' '충청남도' '경상남도' '경기도' '경상북도' '서울특별시'
 '충청북도' '대구광역시' '인천광역시' '강원도' '대전광역시' '제주도']
16

In [22]:
minari.head()

    PUM_NM   TOT_AMT SAN_NM   SALEDATE DAN_NM WHSAL_NM  TOT_QTY  PER_PRICE
0      미나리  465000.0  부산광역시 2014-01-03     kg   서울가락도매    300.0     1550.0
166    미나리   41000.0   전라남도 2014-01-03     kg   서울가락도매     10.0     4100.0
167    미나리   42000.0   전라남도 2014-01-03     kg   서울가락도매     10.0     4200.0
168    미나리   40000.0   전라남도 2014-01-03     kg   서울가락도매     10.0     4000.0
169    미나리   42000.0   전라남도 2014-01-03     kg   서울가락도매     10.0     4200.0

In [23]:
min(minari[minari["SAN_NM"]=='경기도']["TOT_QTY"])

0.03

In [24]:
minari_mean = pd.DataFrame(minari.iloc[:, 7].groupby(minari['SAN_NM']).agg('mean'))
minari_mean['PER_PRICE'] = round(minari_mean['PER_PRICE'], 0)
minari_mean

        PER_PRICE
SAN_NM
강원도        2725.0
경기도        2216.0
경상남도       2718.0
경상북도       5685.0
광주광역시      2839.0
대구광역시      4541.0
대전광역시      2588.0
부산광역시      2905.0
서울특별시      3701.0
울산광역시      2547.0
인천광역시      2367.0
전라남도       2826.0
전라북도       3127.0
제주도        2229.0
충청남도       2587.0
충청북도       2137.0

In [25]:
#컬럼명 변경
minari.columns=["품목","총금액","산지","경락 일자","단위","도매시장","총물량","PER_PRICE"]
minari.columns

Index(['품목', '총금액', '산지', '경락 일자', '단위', '도매시장', '총물량', 'PER_PRICE'], dtype='object')

In [26]:
minari.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1205875 entries, 0 to 1225837
Data columns (total 8 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   품목         1205875 non-null  object
 1   총금액        1205875 non-null  float64
 2   산지         1205875 non-null  object
 3   경락 일자      1205875 non-null  datetime64[ns]
 4   단위         1205875 non-null  object
 5   도매시장       1205875 non-null  object
 6   총물량        1205875 non-null  float64
 7   PER_PRICE  1205875 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 115.1+ MB

In [27]:
minari.head()

      품목       총금액     산지      경락 일자  단위    도매시장    총물량  PER_PRICE
0    미나리  465000.0  부산광역시 2014-01-03  kg  서울가락도매  300.0     1550.0
166  미나리   41000.0   전라남도 2014-01-03  kg  서울가락도매   10.0     4100.0
167  미나리   42000.0   전라남도 2014-01-03  kg  서울가락도매   10.0     4200.0
168  미나리   40000.0   전라남도 2014-01-03  kg  서울가락도매   10.0     4000.0
169  미나리   42000.0   전라남도 2014-01-03  kg  서울가락도매   10.0     4200.0

In [28]:
minari.to_csv("미나리_전처리.csv",index=False)

In [4]:
minari=pd.read_csv("../../files/전처리/미나리_전처리.csv")

In [11]:
minari.loc[minari['경락 일자']>'2020-10-01'].head(400)

          품목        총금액     산지       경락 일자  단위    도매시장     총물량  PER_PRICE
1176402  미나리     8400.0  서울특별시  2021-09-01  kg  원주도매시장     4.0     2100.0
1176403  미나리     7400.0  서울특별시  2021-09-01  kg  춘천도매시장     1.0     7400.0
1176404  미나리     7400.0  서울특별시  2021-09-01  kg  춘천도매시장     1.0     7400.0
1176405  미나리    26420.0  서울특별시  2021-09-01  kg  춘천도매시장     4.0     6605.0
1176406  미나리    26250.0  서울특별시  2021-09-01  kg  원주도매시장     4.0     6562.5
...      ...        ...    ...         ...  ..     ...     ...        ...
1176797  미나리   288000.0    경기도  2021-09-01  kg  서울강서도매    64.0     4500.0
1176798  미나리  3600000.0   전라남도  2021-09-01  kg  서울가락도매  2000.0     1800.0
1176799  미나리  1536000.0    경기도  2021-09-01  kg  서울가락도매   384.0     4000.0
1176800  미나리  1150000.0    경기도  2021-09-01  kg  인천구월도매   200.0     5750.0
1176801  미나리   167500.0   경상북도  2021-09-01  kg  대구북부도매    25.0     6700.0

[400 rows x 8 columns]